.container1{
    padding: .5em;
    height: 45px;
    background-color: white;
    width: auto;
    margin: auto;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*.nav a{
    text-decoration: none;
    color: #015B70 ;
    font-size: 16px;
    margin-top: 26px;

}*/

hr{
    position: relative;
    width: 100%;
    padding: 0px;
    border: 0.5px solid #015B70;
    background-color: #015B70;

}
i{
    color:#015B70;
    font-size: 16px;
    margin-top: 26px;
}
