<app-wizardsubheader></app-wizardsubheader>
<div>
    <table style="width: 90%;">
        <th>How to manipulate the CRUD operation in python?</th>
        <tr>
            <td><textarea class="comment" [(ngModel)]="text" rows="6" cols="50" disabled></textarea></td>
        </tr>
        <tr>
            <td class="sp"><span (click)="delete()"> Delete</span></td>
        </tr>
    </table>
</div>

<hr>

<div>
    <table style="width: 90%;">
        <th>How to use the Lasso tool to copy the pictures in Photoshop?</th>
        <tr>
            <td><textarea class="comment" [(ngModel)]="text1" rows="6" cols="50" disabled></textarea></td>
        </tr>
        <tr>
            <td class="sp"><span (click)="delete1()"> Delete</span></td>
        </tr>
    </table>
</div>