<app-wizardsubheader></app-wizardsubheader>
<div class="container">
    <table *ngFor="let person of persons">
        <col width='25%'>
        <col width='75%'>
        <th colspan="2"><i id='profile' class="fa fa-user-circle" aria-hidden="true"> <span> {{person.name}}</span></i></th>
        
        <tr>
            <td>Gender:</td>
            <td>{{person.gender}}</td>
        </tr>
        <tr>
            <td>Experience:</td>
            <td>{{person.experience}}</td>
        </tr>
        <tr>
            <td>Highest degree:</td>
            <td>{{person.highestdegree}}</td>
        </tr>
        <tr>
            <td>Hobbies:</td>
            <td>{{person.hobbies}}</td>
        </tr>
    </table>

</div>

