<app-wizardsubheader></app-wizardsubheader>
<div class="container" style=" color: #015b70">
    <div class="top">
        <p>THANK YOU FOR YOUR DETAILS</p>
    </div>
    <div class="middle">
        <p>CHECK YOUR ACCOUNTS PAGE FOR DETAILS OF YOUR PROTEGES </p>
    </div>

    <hr>

    <div class="bottom">
        <p>
            UNTIL THEN, UPCALIBER  
        </p>
        <p>YOURSELF</p>
        <p>LEARN FROM OUR EXPERTS BLOG</p>
    </div>
    <input type="button" id="button1" value="READ OUR BLOG">
</div>